body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #f4f4f4; /* better contrast than grey */
  color: #222;
  margin: 0;
}

/* Accessible headings */
h1, h2, h3 {
  font-family: 'Stick No Bills', sans-serif;
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 1rem;
}


.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  background: black;
  color: white;
  padding: 1rem;
}

.skip-link:focus {
  left: 1rem;
  z-index: 999;
}

/* NAVIGATION */

.main-nav ul { 
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
  margin: 0; 
  padding: 0;
} 

 .main-nav li { 
    flex: 1; 
    text-align: center;
    background-color:#000;
} 

 .main-nav a { 
    display: block;
    padding: 1rem; 
    color: #fff; 
    text-decoration: none;
  } 

 .main-nav a:hover, 
 .main-nav a:focus { 
     background-color: grey; 
     outline: 2px solid #000; }


img {
  width: 100%;
  height: auto;
}

/* FORM */

 form input,
 form textarea {
  width: 100%;
  padding: .75rem;
  margin-bottom: 1rem;
  border: 2px solid #444;
  border-radius: 4px;
}

form input:focus,
form textarea:focus {
  outline: 3px solid red;
}

form button {
  background: black;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

form button:hover,
form button:focus {
  background: #333;
}

/* FOOTER */

.site-footer {
  background-color:#000;
  color: white;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  margin-top: 3rem;
}

